@charset "UTF-8";

/* 페이지 버튼들의 스타일을 정의합니다 */
.pagination-button {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50;
}

/* 페이지 버튼들의 호버 스타일을 정의합니다 */
.pagination-button:hover {
  @apply hover:bg-accent hover:text-accent-foreground;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이에 대한 100% */
}